<!DOCTYPE html>
<html lang="en">
    
    <head>
    
        <title> Wildlife Observer </title>

        <meta charset="UTF-8" />
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
        <link rel="stylesheet" href="/Project-02/public/stylesheets/reset.css" />
    
        <script src="https://code.jquery.com/jquery.js"></script>
        
        <link rel="stylesheet" href="/Project-02/public/stylesheets/style.css" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap" rel="stylesheet">
        
        

        
        <script src="/Project-02/server.js"></script>

    </head>

    <body>

        {{{ body }}}

    </body>

    <div id="stickyfooter">
       
        <br> Wildlife Observer App ©
    </div>

</html>