<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link href="stylesheets/style.css"  rel="stylesheet" >
    <script src="js/animal.js"></script>
    <title>Passport Authentication</title></head>
<body>
    <form class="grid-container">
        <div class="header">
        <nav class="navbar navbar-default">
                    <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="row">
                        <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Wildlife Observer</a></li>
                            <li><a href="#">Catalogue</a></li>
                            <li><a href="#">Log an Animal</a></li>
                        </ul>
                        </div>
                        <div class="col-md-6 col-md-offset-3"></div>
                            <h2>Welcome <span class="member-name"></span></h2>
                        </div>
                        <div class="col-md-1 col-md-offset-3">
                            <a class="navbar-brand" href="/logout">Logout</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </nav>      
        </div>
        
        <hr>

        <div id="myModal" class="myModal">
            <span class="close">&times;</span>
            <p>How do you want to search</p>
            <div class="form-check">
                <input class="form-check-input, mr-9" type="checkbox" value="" id="defaultCheck1" name="checkBox1">
                <label class="form-check-label" for="defaultCheck1">
                  Animal Name
                </label>
                <input class="form-check-input, mr-9" type="checkbox" value="" id="defaultCheck2" name="checkBox2">
                <label class="form-check-label" for="defaultCheck2">
                  Animal Class
                </label>
                <input class="form-check-input, mr-9" type="checkbox" value="" id="defaultCheck3" name="checkBox3">
                <label class="form-check-label" for="defaultCheck2">
                  Color
                </label>
                <input class="form-check-input, mr-9" type="checkbox" value="" id="defaultCheck4" name="checkBox4">
                <label class="form-check-label" for="defaultCheck4">
                  Note
                </label>
                
                <div class="modalSubmit">
                    <button type="button" class="btn btn-default" id="submitBtn" aria-label="Left Align">Submit</button>
                </div>
            </div>
            
        </div>

        <div class="sidebar1"></div>


        <div class="grid">
            <div class="container-adding-info">
            <form class="add-observation" action="/upload" method="POST">
                <div id= "animalType">
                    <label for="animal-type">Type of Animal:</label>
                    <input id="animal-type" name="animal-type">
                </div>

                <div id="animalNote">
                    <label for="animal-note">Notes:</label>
                    <input type="textarea" id="animal-note" name="animal-note">
                </div>
                
                <div id="animalName">
                    <label for="animal-note">Name:</label>
                    <input type="textarea" id="animal-name" name="animal-name">
                </div>

                <div id="animalColor">
                    <label for="animal-color">Color:</label>
                    <input type="textarea" id="animal-color" name="animal-color">
                </div>

                <label for="animal-lng">Longitude Found:</label>
                <input id="animal-lng" name="animal-lng">

                <label for="animal-lat">Latitude Found:</label>
                <input id="animal-lat" name="animal-lat">

                

                <label for="animal-pic">Picture:</label>
                <input type="file" name="animal-pic" id="animal-pic">

                <button type="submit" id="create-observation" class="btn btn-default">Create an Observation</button>
            </form>
            </div>

            <div class="container-map">
            <form class="get-location">
                <button type="submit" id="send-location" class="btn btn-default">Send Arrow Location</button>
                <button id="recenter" class="btn btn-default">Bring Drag Arrow to Location</button>
                <div id='map'></div>
                <pre id="coordinates" class="coordinates"></pre>
            </form>
            </div>
        </div>


        <div class="sidebar2"></div>

        <hr>
        <div class="about">
            <p>made by: Curtis Blake Mando and Patrick</p>
            <p>about</p>
            <p>contact</p>
        </div>
    </form>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/locationSelect.js"></script>
    