<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">Scout</a>
            <a class="nav-link" href="#">Society</a>
            <a class="nav-link" href="#">Scholar</a>
        
          <span class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </span>
        </div>
    </div>
</nav>

    <div class="jumbotron">
        <h1 class="display-4">Welcome!! Wildlife Observers</h1>
        <p class="lead">Initiate your Observational journey, into the Wildlife</p>
        <hr class="my-4">
        <p>Scout Nature, within our Wildlife Observer App, to help a crowdsource of user data to track and identify, the various spcecies within our enviroment.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Initiate your Journey</a>
    </div>
    
   <br>

   <br>     
   
    <div class="botContainer">
        
        <div class="aboutCont">
            
            <p>made by: </p>

            <a href="https://www.linkedin.com/in/cjackson74/">Curtis<i class="fab fa-linkedin fa-2x social" aria-hidden="true"></i></a>

            <a href="https://github.com/CJack74"><i class="fab fa-github-square fa-2x social" aria-hidden="true"></i></a>

            <a href="https://www.linkedin.com/in/blake-brintle-3b421427/">Blake<i class="fab fa-linkedin fa-2x social" aria-hidden="true"></i></a>

            <a href="https://github.com/bbrintle"><i class="fab fa-github-square fa-2x social" aria-hidden="true"></i></a>

            <a href="https://www.linkedin.com/in/patrick-tomas-99b4a9192/">Patrick<i class="fab fa-linkedin fa-2x social" aria-hidden="true"></i></a>

            <a href="https://github.com/PTomas"><i class="fab fa-github-square fa-2x social" aria-hidden="true"></i></a>

            <a href="https://www.linkedin.com/in/armando-galindo/">Mando<i class="fab fa-linkedin fa-2x social" aria-hidden="true"></i></a>

            <a href="https://github.com/CdmMandalorian"><i class="fab fa-github-square fa-2x social" aria-hidden="true"></i></a>

        </div>

        <div class="contactContainer"></div>
                   
            <form>
                    
                <div class="form-group">
                    
                        <label for="exampleFormControlInput1">Name</label>
                    
                        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Jon Smith">
                    
                </div>

                <div class="form-group">
                        
                        <label for="exampleFormControlInput2">Email address</label>
                        
                        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
                 </div>

                 <div class="form-group">
                        
                        <label for="exampleFormControlTextarea1">Message</label>
                        
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Message"></textarea>
                </div>

                <button type="submit" class="btn btn-primary mb-3">Submit</button>
                
                            
                <hr>
            
            </form>

        </div>


    </div>

</div>