<head>
  <link rel="stylesheet" href="stylesheets/style.index.css" />
</head>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Wildlife Observer</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/login">Signup/Login</a>
      </div>
    </div>
  </nav>
    <div class="jumbotron">
        <h1 class="display-4">Welcome!! Wildlife Observers</h1>
        <p class="lead">Initiate your Observational journey, into the Wildlife</p>
        <hr class="my-4">
        <p>Scout Nature, within our Wildlife Observer App, to help a crowdsource of user data to track and identify, the various spcecies within our enviroment.</p>
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Initiate your Journey</a>
    </div>

   <br>
   <br>     
    <div class="botContainer">
        <div class="aboutCont">
            <p> Made by: </p>
            <div class="aboutRow1">
                <div class="card" style="width: 16rem;">
               <img src="/img/curtisJ.png" class="card-img-top" alt="Curtis Jackson">
                <div class="card-body">
                  <p class="card-text">CURTIS<a href="https://www.linkedin.com/in/cjackson74/"><i class="fab fa-linkedin fa-2x social" aria-hidden="true"></i></a>
                    <a href="https://github.com/CJack74"><i class="fab fa-github-square fa-2x social" aria-hidden="true"></i></a></p>
                </div>
              </div>
              <div class="card" style="width: 16rem;">
                <img src="/img/blakeB.png" class="card-img-top" alt="Blake Brintle">
                <div class="card-body">
                  <p class="card-text">BLAKE<a href="https://www.linkedin.com/in/blake-brintle-3b421427/"><i class="fab fa-linkedin fa-2x social" aria-hidden="true"></i></a>
                    <a href="https://github.com/bbrintle"><i class="fab fa-github-square fa-2x social" aria-hidden="true"></i></a></p>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="aboutRow2">
              <div class="card" style="width: 16rem;">
                <img src="/img/patrickP.png" class="card-img-top" alt="Patrick Thomas">
                <div class="card-body">
                  <p class="card-text">PATRICK<a href="https://www.linkedin.com/in/patrick-tomas-99b4a9192/"><i class="fab fa-linkedin fa-2x social" aria-hidden="true"></i></a>
                   <a href="https://github.com/PTomas"><i class="fab fa-github-square fa-2x social" aria-hidden="true"></i></a></p>
                </div>
             </div>
              <div class="card" style="width: 16rem;">
                <img src="/img/mandoG.png" class="card-img-top" alt="Armando Galindo">
                <div class="card-body">
                  <p class="card-text">MANDO<a href="https://www.linkedin.com/in/armando-galindo/"><i class="fab fa-linkedin fa-2x social" aria-hidden="true"></i></a>
                    <a href="https://github.com/CdmMandalorian"><i class="fab fa-github-square fa-2x social" aria-hidden="true"></i></a></p>
               </div>
              </div>
            </div>
        </div>
        <div class="contactContainer">
            <p> Contact: </p>     
            <form>   
                <div class="form-group">
                  <label for="exampleFormControlInput1">Name</label>
                  <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Jon Smith">
                </div>
                <div class="form-group">    
                  <label for="exampleFormControlInput2">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
                 </div>
                 <div class="form-group">       
                  <label for="exampleFormControlTextarea1">Message</label>  
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Submit</button>        
                <hr>
            </form>
        </div>
    </div>
</div>