<div class="container">
  <div class="center">
    <img src="./assets/img/burger.png" alt="burger-img" id="burger-img">
  </div>
  <h1>Eat-Da-Burger</h1>

  <div class="grid">

    <ul class="created-burger">
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
        {{/unless}}
      {{/each}}
    </ul>

    <ul class="devoured-burger">
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </ul>

  </div>

  <h2>Make the Burger</h2>
  <div class="center">
    
    <br>
    <form class="create-form">
        <div class="form-group">
            <input type="textarea" id="ca" name="name">
            <button type="submit" id="submit-btn">Submit</button>
            <label for="ca">Enter a burger you would like to eat, then click the submit button.</label>
        </div>
    </form>
  </div>
</div>

