<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.locationSelect.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="row">
          <div class="col-md-6 col-md-offset-3"></div>
            <h2>Welcome <span class="member-name" name="member_name"></span></h2>
          </div>
          <div class="col-md-1 col-md-offset-3">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <div class="col-md-3 col-md-offset-3">
            <a class="navbar-brand" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="grid">
    <div class="container-adding-info">
      <form class="add-observation" action="/upload" method="POST" enctype="multipart/form-data">
        <label for="animal-type">Type of Animal:</label>
        <input id="animal-type" name="type">

        <label for="animal-lng">Longitude Found:</label>
        <input id="animal-lng" name="longitude">

        <label for="animal-lat">Latitude Found:</label>
        <input id="animal-lat" name="latitude">

        <label for="animal-note">Notes:</label>
        <input type="textarea" id="animal-note" name="note">

        <label for="animal-pic">Picture:</label>
        <input type="file" name="picture" id="animal-pic">

        <input type="text" name="username" id="user-name">

        <button type="submit" id="create-observation" class="btn btn-default">Create an Observation</button>
      </form>
    </div>

    <div class="container-map">
      <form class="get-location">
        <button type="submit" id="send-location" class="btn btn-default">Send Arrow Location</button>
        <button id="recenter" class="btn btn-default">Bring Drag Arrow to Location</button>
        <div id='map'></div>
        <pre id="coordinates" class="coordinates"></pre>
      </form>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/locationSelect.js"></script>

</body>
</html>
