form.signup,
form.login {
  margin-top: 50px;
}

body{
  background-color: #49936a;
  color: black;
}

.container-map{
  position: fixed;
  right: 0px;
  grid-row: 1;
  grid-column: 2 / 3;
}

#map{ 
  width: 75vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.grid{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 200px auto auto;
  grid-gap: 1em;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

.container-adding-info{
  justify-content: center;
  grid-row: 1;
  grid-column: 1;
}

input {
  width: 100%;
}

#animal-note{
  height: 150px;
}

.animal_popup img {
  width: 150px;
  height: 150px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #337ab7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    font-family: 'Poppins', sans-serif;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#user-name{
  display: none;
}

.mapboxgl-popup-close-button{
  background-color: brown;
  color: white;
}
.mapboxgl-popup-close-button:hover{
  background-color: black;
  color: white;
}
.navbar {
  border-bottom: 4px solid #8d736b;
  background-color: lightsteelblue;
}

.container-map{
  position: fixed;
  right: 0px;
  grid-row: 1;
  grid-column: 2 / 3;
}

.container-adding-info{
  padding-left: 50px;
  justify-content: center;
  grid-row: 1;
  grid-column: 1;
}

input {
  width: 100%;
}

.about{
  grid-area: footer;
}

h1 {
  font-family: 'Philosopher', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: black;
}

a {
  padding-left: 7%;
}

#footer {
  position: sticky;
  font-family: 'Philosopher', sans-serif;
  width: 100%;
  text-align: center;
}

.row{
  width:100%;
}

.member-name{
  padding-left: 7px;
}

#redirect-links{
  position: absolute;
  right: 0px;
}