form.signup,
form.login {
  margin-top: 50px;
}

.navbar {
  border-bottom: 4px solid #8d736b;
  background-color: lightsteelblue;
}

body{
  background-color: #49936a;
  color: black;
}

h1, h3 {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
}

p {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: center;
}



#nav-text {
  width: 100%;
}

#here {
  color: rgb(143, 67, 83);
  font-size: 24px;
}
#here:hover {
  color: rgb(250, 246, 246);
  font-size: 26px;
}

span.form-inline.my-2.my-lg-0 {
  float: inline-end;
}
a.nav-link.active {
  padding-left: 10%;
}

div.navbar-nav {
  width: 300px;
}

#redirect-links{
  position: absolute;
  right: 0px;
}

#footer {
  position: sticky;
  font-family: 'Philosopher', sans-serif;
  width: 100%;
  text-align: center;
}

