form.signup,
form.login {
  margin-top: 50px;
}

.navbar {
  border-bottom: 4px solid #8d736b;
  background-color: lightsteelblue;
}

body{
  background-color: #49936a;
  color: black;
}

h1 {
  font-family: 'Philosopher', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: black;
}

a {
  padding-left: 7%;
}

span.form-inline.my-2.my-lg-0 {
  float: inline-end;
}
a.nav-link.active {
  padding-left: 10%;
}

div.navbar-nav {
  width: 300px;
}

#footer {
  position: sticky;
  font-family: 'Philosopher', sans-serif;
  width: 100%;
  text-align: center;
}