form.signup,
form.login {
  margin-top: 50px;
}

.navbar {
  border-bottom: 4px solid #8d736b;
  background-color: lightsteelblue;
}

body{
  background-color: #49936a;
  color: black;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  position: sticky;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  font-size: 52px;
}

p {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: black;
  display: flex;
  
}

div.row {
  display: flex;
}

a {
  padding-left: 7%;
}

a.nav-link.active {
  padding-left: 10%;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #337ab7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    font-family: 'Poppins', sans-serif;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

ul.user-posted-list {
  display: inline-grid;
  margin-top: -8%;

}

.grid {
  display: inline-grid;
  margin-inline-end: 10px;
}

.container {
  max-width: 1080px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  display: inline-grid;
  width: 15%;
}

.flex-grid {
  color: black;
  display: flex;
  margin: auto -1rem 1rem;
  width: 1080px;
}

.col {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}

.sidebar {
  flex: 1;
}

.main {
  flex: 3;
}

.grid-item {
  background-color: lightblue;
  text-align: center;
  border: 1px solid #49936a;
}

.member-name{
  padding-left: 20px;
}

.sideContainer {
  margin: auto;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  display: inline-grid;
  width: 15%;
}

ul.user-posted-list#h1 {
  font-size: 52px;
}

.info-box{
  width: 50%;
  float: left;
  margin-left: 200px;
}

.prev-post{
  object-fit: cover;
  height: 190px;
  width: 20%;
  float: right;
  margin-right: 25px;
  margin-top: 5px;
  border: 2.5px solid #49936a;
}

#redirect-links{
  position: absolute;
  right: 0px;
  font-family: 'Poppins', sans-serif;
}

div.grid-item.box {
  height: 200px;
}

@media screen and (max-width: 1920px) {
  #redirect-links{
    margin-top: 1.5%;
    margin-right: 1.5%;
  }
  div.grid-item.box{
    width: 1500px;
  }
}

@media only screen and (min-width: 992px) {
  {

  }
}


@media only screen and (min-width: 768px) {
  {

  }
}

@media only screen and (min-width: 600px) {
  {

  }
}